.THIS {
    z-index: 105!important;
}

.THIS .filter_style{
    background-color: #78CCFD;
    opacity: .95;
    border-radius: 5px;
    z-index: 105;
}

.THIS .header-column {
    color: #78CCFD;
    padding: 0 2rem;
    opacity: .9;
    border-radius: 5px;
}