.THIS.filter_style{
    background-color: #78CCFD;
    opacity: .95;
    border-radius: 5px;
    z-index: 99;
}

.THIS .header-column {
    color: #78CCFD;
    padding: 0 2rem;
    opacity: .9;
    border-radius: 5px;
}
.THIS.c-container {
    border: 1px Solid #d8dde6;
    margin: 10px 0 20 px 0;
}

