.THIS  {
    background-color: #16355F;
    border-style: solid;
    border-color: #FFFFFF;

}

.THIS .field > *{
    color: white;
    border-color: grey;
}

.THIS .slds-form-element__static{
    color:white;
}