/*
///////////////////////////////////////////////////////////////
//
// Name: JobPostingItem.css
// Author: David Serrano, Salesforce Developer
// Created: 05/8/21
// Updated: 05/12/21
// Description: CSS style sheet for the Job Posting item
//
///////////////////////////////////////////////////////////////
*/
.THIS {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    color: white;
    font-size: 1em;
    margin-top: -1px;
    padding: 5px;
    vertical-align: middle;
}


.THIS .slds-button_neutral:hover {
    padding-left: var(--sds-c-button-neutral-spacing-inline-start, var(--lwc-spacingMedium,1rem));
    padding-right: var(--sds-c-button-neutral-spacing-inline-end, var(--lwc-spacingMedium,1rem));
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    transition: border .15s linear;
    background-color: transparent;
    border-color: var(--sds-c-button-neutral-color-border, var(--lwc-buttonColorBorderPrimary,rgb(212, 212, 212)));
    color: white;
}