.THIS {
    height: 70vh;
    margin-bottom: 300px;
    padding-top: 40px;
}

.THIS .button_style{
    margin: 7px;
}

.THIS .slds-button-group{
    background: none!important;
    margin-left: auto!important;
}