/*
///////////////////////////////////////////////////////////////
//
// Name: SummerCampDetails.cmp
// Author: David Serrano, Salesforce Developer
// Created: 05/13/21
// Updated: 05/13/21
// Description: CSS style sheet to style the Summer Camp details.
//
/////////////////////////////////////////////////////////////// 
*/

.THIS {
    background: #78CCFD;
    border-radius: 5px;
    margin-right: 20px;
    opacity: .9;
    text-align: center;
} 

.THIS h1{
    color: white;
    font-size: 4em;
    font-weight: bold;
}

.THIS h2{
    color: #102151;
    font-size: 2em;
    font-weight: bold;
    opacity: .9;
}

.THIS p{
    color: #102151;
    font-size: 1.4em;
    padding-top: 10px;
    
}