.THIS {
    display: block;
    margin-top: 400px;
}

.THIS .form {
    background-color: #16355F;
    border-style: solid;
    border-color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
   
}

.THIS .label {
    color:#FFFFFF;
}

.THIS .btn{
    color: #FFFFFF;
    background-color: #304C74;
    margin-top: 25px;
}

.THIS .btn:hover{
    background-color: white!important;
}