/*
///////////////////////////////////////////////////////////////
//
// Name: SummerCampCarousel.css
// Author: David Serrano, Salesforce Developer
// Created: 05/13/21
// Updated: 05/13/21
// Description: CSS style sheet to style carousel component.
//
/////////////////////////////////////////////////////////////// 
*/

.THIS {
    border-radius: 5px;
    display: block;
}

.THIS .slds-carousel__content{
    background: #78CCFD;
    opacity: .9;
    color: #102151;
}

