/*
///////////////////////////////////////////////////////////////
//
// Name: SummerCamp.css
// Author: David Serrano, Salesforce Developer
// Created: 05/13/21
// Updated: 05/15/21
// Description: CSS style sheet for Summer Camp component.
//
///////////////////////////////////////////////////////////////
*/

.THIS {
    height: 70vh;
    margin-bottom: 300px;
    padding-top: 40px;
}

